* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  margin-bottom: 10px; 
}

footer {
  margin-top: 10px; 
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #19172E;
  color: #fff;
}

.calculator {
  text-align: center;
  padding: 20px;
}

.calculator-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  height: 85vh;

}

.calculator-display {
  background-color: #fff;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
}

.calculator-buttons {
  display: flex;
  justify-content: space-between;
  height: 85%;
}

.calculator-buttons-left {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
  overflow: auto;
}

.button {
  width: calc(25% - 120px);
  margin: 5px;
  padding: 15px 0;
  font-size: 1.2rem;
  background-color: #212121;
  border: 2px solid transparent; 
  border-radius: 5px; 
  cursor: pointer;
  color: #fff;
}

.calculator-history{
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #212121;
  font-size: 1.2rem;
  color: #fff;
  overflow-y: auto; /* Enables vertical scrollbar */
}

.calculator-history-list{
  height: 100% ;
}
.button:hover  {
  background-color: #414141;
  outline: 2px solid black;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .button {
    width: calc(33.33% - 20px);
  }

  .calculator-history {
    display: none;
  }
  
}